# Creating Cluster and Creating the Sparkify Data warehouse

In [1]:
import pandas as pd
import boto3
import json

# STEP 1: Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Aly12345
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# STEP 2: Create clients for IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [5]:
s3bucket =  s3.Bucket("udacity-dend")

s3_logs = iter(s3bucket.objects.filter(Prefix="log-data"))
for _ in range(10): 
    print(next(s3_logs))

s3_songs = iter(s3bucket.objects.filter(Prefix="song-data"))
for _ in range(10): 
    print(next(s3_songs))

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAFD128F92F423A.json')

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::978863314050:role/dwhRole

In [5]:

try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [8]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-09935e725ae41afb2
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available"

In [9]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::978863314050:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [11]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-000dab20fa6829e74')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: Make sure you can connect to the cluster

In [12]:
%load_ext sql

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Aly12345@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# STEP 5: Create the data warehouse and insert the data from s3 bucket

In [14]:
run create_tables.py

In [15]:
run etl.py

In [18]:
%sql SELECT * FROM users limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [19]:
%%sql 
SELECT user_id, count(*) as user_count
FROM users 
GROUP BY user_id
ORDER BY 2 DESC
limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1),
 (11, 1)]

In [20]:
%sql SELECT * FROM songs limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, 101.929),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, 415.817),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, 322.847),
 ('SOAAGXT12A8C13A94D', 'Beautiful Zelda (2007 Digital Remaster)', 'ARTC1LV1187B9A4858', 1968, 145.031),
 ('SOAAUGN12AB01830B6', "Don't Wanna Suffer (Carbon Copy)", 'ARVC9W21187B99354B', 2003, 180.636),
 ('SOABHRQ12AB0181844', 'Russian Lullaby', 'ARXA17J1187FB3B507', 2006, 409.129),
 ('SOABLAF12AB018E1D9', 'Lesson Learned', 'ARSW5F51187FB4CFC9', 2009, 256.522),
 ('SOABTKM12A8AE4721E', "Nothing's Clear (Album Version)", 'ARQATWU1187B98EE26', 0, 202.135),
 ('SOABUAX12A8C141F08', 'Dyrt att vara fattiglapp', 'AR0FZPP1187FB3CAF9', 2006, 157.048),
 ('SOACCVZ12A6D4F7426', 'Trench Town Rock (1990 Digital Remaster)', 'ARCETNJ11F4C83C829', 0, 167.235)]

In [21]:
%sql SELECT * FROM time limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10), 20, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 2, 12), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 17, 33), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 24, 53), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 28, 54), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 42), 21, 1, 44, 11, 2018, '4')]

In [22]:
%sql SELECT * FROM songplays limit 10 ;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(195, datetime.datetime(2018, 11, 4, 9, 19, 3), 44, 'paid', 'SOCSXKQ12A6D4F95A0', 'ARRE7IQ1187FB4CF13', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (70, datetime.datetime(2018, 11, 4, 9, 41, 55), 44, 'paid', 'SOAFQGA12A8C1367FA', 'AR0IVTL1187B9AD520', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (258, datetime.datetime(2018, 11, 5, 1, 48), 44, 'paid', 'SOOXLKF12A6D4F594A', 'ARF5M7Q1187FB501E8', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (126, datetime.datetime(2018, 11, 5, 1, 58, 24), 44, 'paid', 'SOHMNPP12A58A7AE4B', 'ARKZ13R1187FB54FEE', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (472, datetime.datetime(2018, 11, 5, 2, 9, 47), 44, 'paid', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (608, datetime.datetime(2018, 11, 5, 11, 14), 44, 'paid', 'SOCDOVE12AB01808DE', 'ARYE9E71187B9AA1B3', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (312, datetime.datetime(2018, 11, 5, 11, 17, 25), 44, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (178, datetime.datetime(2018, 11, 5, 11, 36, 56), 44, 'paid', 'SONQEYS12AF72AABC9', 'ARLY7P81187B9ACF4D', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (58, datetime.datetime(2018, 11, 5, 14, 24, 56), 44, 'paid', 'SOTETAR12AF72A5FF7', 'AROR8OB1187FB50D6A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (11, datetime.datetime(2018, 11, 5, 14, 43, 54), 44, 'paid', 'SOZARNI12A67020744', 'AR3WLE91187B99430A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

# STEP 6: Clean up your resources

In [23]:
#### delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 10, 22, 12, 40, 47, 914000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-000dab20fa6829e74',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-09935e725ae41afb2',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'fri:11:30-fri:12:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::978863314050:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '694c41cf-36b1-4d2b-be05-e9093f652855',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '694c41cf-36b1-4d2b-be05-e9093f652855',
   'content-type': 'text/xml',
   'content-length': '2712',
   'vary': 'accept-encoding',
   'date': 'Sat, 22 Oct 2022 12:47:30 GMT'},
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [27]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

NoSuchEntityException: An error occurred (NoSuchEntity) when calling the DetachRolePolicy operation: The role with name dwhRole cannot be found.