# Creating Cluster and Creating the Sparkify Data warehouse

In [1]:
import pandas as pd
import boto3
import json

# STEP 1: Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Aly12345
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# STEP 2: Create clients for IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [5]:
s3bucket =  s3.Bucket("udacity-dend")

s3_logs = iter(s3bucket.objects.filter(Prefix="log-data"))
for _ in range(10): 
    print(next(s3_logs))

s3_songs = iter(s3bucket.objects.filter(Prefix="song-data"))
for _ in range(10): 
    print(next(s3_songs))

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAFD128F92F423A.json')

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::978863314050:role/dwhRole

In [5]:

try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [11]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-09935e725ae41afb2
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available"

In [12]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::978863314050:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [13]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-000dab20fa6829e74')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: Make sure you can connect to the cluster

In [14]:
%load_ext sql

In [15]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Aly12345@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# STEP 5: Create the data warehouse and insert the data from s3 bucket

In [16]:
run create_tables.py

In [17]:
run etl.py

In [18]:
%sql SELECT * FROM users limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [19]:
%sql SELECT * FROM songs limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, 448.235),
 ('SOAAVXG12A6D4F7777', 'Best Song In The World', 'ARO4ZPQ1187FB5083E', 1996, 164.884),
 ('SOAAVYM12A8C13C43C', "Barn's On Fire", 'ARGUSVR1187B9AD15E', 2008, 103.497),
 ('SOABQFG12A58A7C6A7', 'Seven Samurai - ending theme', 'ARKZESI119B86682ED', 0, 340.845),
 ('SOABXON12AB0187956', "De L'Art De La Fellation", 'ARYZC0O1187FB36917', 2003, 227.84),
 ('SOACHGQ12AB018590E', 'Ven Morena', 'ARRVUWA1187B9A0FE2', 2003, 173.688),
 ('SOACNSF12AB0184B05', 'Process to decelerate', 'ARW4P0V1187B9B182E', 2003, 126.04),
 ('SOACXKV12AB0189328', 'Skyscraper', 'ARGECAJ122BCFCD64C', 2009, 199.497),
 ('SOACYZN12A8C13CAC7', "Early Mornin' Rain", 'ARFGYOQ1187B9AD59F', 1974, 187.01),
 ('SOADJND12A8C13BAE1', 'The Lie', 'AR46CAD1187FB4D84B', 2002, 138.84)]

In [20]:
%sql SELECT * FROM time limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10), 20, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 2, 12), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 17, 33), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 24, 53), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 28, 54), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 42), 21, 1, 44, 11, 2018, '4')]

In [21]:
%sql SELECT * FROM songplays limit 10 ;

 * postgresql://dwhuser:***@dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(276, datetime.datetime(2018, 11, 3, 18, 19, 10), 95, 'paid', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (249, datetime.datetime(2018, 11, 4, 19, 35, 15), 73, 'paid', 'SOULTKQ12AB018A183', 'ARKQQZA12086C116FC', 72, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (230, datetime.datetime(2018, 11, 5, 5, 57, 5), 57, 'free', 'SOCGOZK12A8151BD5D', 'ARM0P6Z1187FB4D466', 56, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"'),
 (667, datetime.datetime(2018, 11, 5, 11, 8, 56), 95, 'paid', 'SOQYHVZ12A6D4F93CF', 'ARRZUPG11F43A69EF7', 222, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (451, datetime.datetime(2018, 11, 5, 16, 15, 10), 73, 'paid', 'SOPPSDA12AF72A3D97', 'ARDAF601187FB4CD05', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (683, datetime.datetime(2018, 11, 5, 17, 0, 27), 73, 'paid', 'SOBANHD12A58A7BB7C', 'ARSUFX91187FB3B73E', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (184, datetime.datetime(2018, 11, 5, 17, 31, 11), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (38, datetime.datetime(2018, 11, 5, 17, 49, 42), 73, 'paid', 'SOHDWWH12A6D4F7F6A', 'ARC0IOF1187FB3F6E6', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (176, datetime.datetime(2018, 11, 5, 18, 13, 57), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (264, datetime.datetime(2018, 11, 5, 18, 26, 7), 73, 'paid', 'SOKQFRT12A8C132F46', 'AR0N7RH1187B9B7497', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

# STEP 6: Clean up your resources

In [22]:
#### delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cuf7ux0re22c.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 10, 21, 22, 45, 51, 286000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-000dab20fa6829e74',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-09935e725ae41afb2',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'thu:11:30-thu:12:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::978863314050:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '053c8725-0c74-407e-b881-d1a98e017c17',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '053c8725-0c74-407e-b881-d1a98e017c17',
   'content-type': 'text/xml',
   'content-length': '2631',
   'vary': 'accept-encoding',
   'date': 'Fri, 21 Oct 2022 22:51:23 GMT'},
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [23]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '8a81c43a-d623-4b87-be41-6c3c4e52d79f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '8a81c43a-d623-4b87-be41-6c3c4e52d79f',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Fri, 21 Oct 2022 22:51:23 GMT'},
  'RetryAttempts': 0}}